.google-signin-btn {
    background-color: var(--color-white);
    /* border: thin solid var(--color-light); */
    white-space: nowrap;
    padding: 10px 15px 10px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    /* transition: 0.8s; */
}

/* .google-signin-btn:hover {
    cursor: pointer;
    box-shadow: none;
    box-shadow: 1px 1px 1px var(--color-light);
    background: var(--color-white) radial-gradient(circle, transparent 1%, var(--color-white) 1%) center/15000%;
}

.google-signin-btn:active {
    background-color: var(--color-light) ;
    background-size: 100%;
    transition: background 0s;
} */

.google-signin-btn > .frow {
    align-items: center;
}

.google-signin-btn > .frow > .google-icon {
    width: 32px;
    margin-right: 10px;
}

.save-form-btn {
    background-color: var(--color-highlight-3);
    color: var(--color-light);
    padding: 15px;
}

.add-form-btn {
    background-color: var(--color-highlight-4);
    color: var(--color-light);
    padding: 15px;
}