.google-signin-btn {
    white-space: nowrap;
    padding: 10px 15px 10px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    background-color: var(--color-superlight);
}

.google-signin-btn > .frow {
    align-items: center;
}

.google-signin-btn > .frow > .google-icon {
    width: 32px;
    margin-right: 10px;
}

.save-form-btn {
    background-color: var(--color-highlight-3);
    color: var(--color-light);
    padding: 15px;
}

.add-form-btn {
    background-color: var(--color-highlight-4);
    color: var(--color-light);
    padding: 15px;
}