
.Work-experience > .content {
    padding: 10px 20px;
}

.Work-experience > .content > .company-name {
    
    color: var(--color-highlight-3);
}

.Work-experience > .content > .designation-duration {
    justify-content: space-between;
}

.Work-experience > .content > .description {
    white-space: pre-wrap;
}

@media only screen and (max-width: 500px) {
    .Work-experience > .content > .designation-duration {
        flex-direction: column;
    }
}