.Header {
    height: 450px;
    text-align: center;
}

.Header .content {
    margin: auto;
    width: 80%;
}

.Header .content .image {
    width: 50%;
    padding-right: 20px;
}

.Header .content .text {
    padding-left: 20px;
    justify-content: center;
    text-align: left;
}