.Notfound {
    display: flex;
    justify-content: center;
}

.Notfound > .content {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    width: 80%;
}

.Notfound > .content > .image {
    align-items: flex-end;
    padding: 0 10px;
    margin: auto;
}

.Notfound > .content > .image > .resume-icon {
    width: 300px;
}

.Notfound > .content > .text {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 10px;
}

.Notfound > .content > .text > title {
    margin: 5px 0;
}

.Notfound > .content > .text > .sub-title {
    margin: 10px 0;
}

.Notfound > .content > .text > .btn {
    margin: 10px 0;
}

@media only screen and (max-width: 800px) {
    .Notfound > .content {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}