.View-work-exp {
    flex-direction: row;
    justify-content: space-between;
}

.View-work-exp > .update-delete {
    justify-content: space-between;
}

.View-work-exp > .content > .description {
    white-space: pre-wrap;
}

.View-work-exp > .update-delete > .delete-icon:hover > svg > g > g,
.View-work-exp > .update-delete > .delete-icon:focus > svg > g > g {
    fill: #c13526;
}

.View-work-exp > .update-delete > .edit-icon:hover > svg > g > g,
.View-work-exp > .update-delete > .edit-icon:focus > svg > g > g {
    fill: #007e58;
}