
.Resume-project > .content {
    padding: 10px 20px;
}

.Resume-project > .content > .title {
    font-weight: bold;
}

.Resume-project > .content > .company {
    color: var(--color-highlight-3);
}

.Resume-project > .content > .description {
    white-space: pre-wrap;
}