.Footer > svg {
    /* To remove space below svg */
    display: block;
}

.Footer > .area {
    background-color: var(--color-light);
}

.Footer > .area > .content {
    width: 80%;
    height: 120px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.Footer > .area > .content > .credit {
    display: flex;
    flex-direction: column;
    justify-content: center;
}