.Footer > svg {
    /* To remove space below svg */
    display: block;
}

.Footer > .box {
    background-color: var(--color-light);
    /* vertically middle start */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* vertically middle end */
    height: 200px;
}

.Footer > .box > .content {
    color: var(--color-dark);
    width: 80%;
    margin: auto;
}

.Footer > .box > .content > .credit {
    margin: auto;
    height: 120px;
}