.Resume-contact {
    margin-top: 10px;
}

.Resume-contact > .card-body {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.Resume-contact > .card-body > .image {
    width: 120px;
    height: 120px;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.Resume-contact > .card-body > .image > img {
    height: 100%;
    width: 100%;
    margin: auto;
}

.Resume-contact > .card-body > .text {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Resume-contact > .card-body > .contact {
    min-width: 350px;
    height: 140px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Resume-contact > .card-body > .contact > .cell {
    height: 30%;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.Resume-contact > .card-body > .contact > .cell > .icon {
    height: 100%;
    padding: 10px 10px 10px 0;
}

@media only screen and (max-width: 800px) {
    .Resume-contact > .card-body {
        flex-direction: column;
    }

    .Resume-contact > .card-body > .text {
        width: 100%;
        align-items: center;
    }

    .Resume-contact > .card-body > .contact {
        width: 100%;
    }
}