.View-skill > .content {
    justify-content: space-between;
    align-items: center;
}

.View-skill > .content > .star-delete {
    align-items: center;
}

.View-skill > .content > .star-delete > .stars {
    margin: 0 10px
}

.View-skill > .content > .star-delete > .delete-icon:hover > svg > g > g,
.View-skill > .content > .star-delete > .delete-icon:focus > svg > g > g {
    fill: #c13526;
}