.Input {
    position: relative;
}

.Input > .style {
    width: 100%;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid var(--color-light);
    background-color: transparent;
}
.Input > .input {
    height: 30px;
}

.Input > .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.Input > .inputfile:focus + label,
.Input > .inputfile + label:hover {
    filter: brightness(120%);
}

.Input > .textarea {
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}


.Input > .float-label {
    position: absolute;
    top: 30px;
    left: 0;
    cursor: text;
    transition: all 200ms;
}

.input:focus + .float-label ,
.input:not(:placeholder-shown) + .float-label,
.textarea:focus + .float-label ,
.textarea:not(:placeholder-shown) + .float-label {
    font-size: 12px;
    transform: translate3d(0, -130%, 0);
    color: var(--color-highlight-3);
}