.Input {
    position: relative;
    padding-top: 30px;
}

.Input > input {
    width: 100%;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid var(--color-light);
    background-color: transparent;
    height: 30px;
}

.Input > .float-label {
    position: absolute;
    top: 30px;
    left: 0;
    cursor: text;
    transition: all 200ms;
    color: var(--color-dark)
}

input:focus + .float-label ,
input:not(:placeholder-shown) + .float-label {
    font-size: 12px;
    transform: translate3d(0, -130%, 0);
    opacity: 0.5;
    color: var(--color-highlight-3);
}