.Projects {
    margin-top: 10px;
    width: 100%;
}

.Projects > .card-body > .frow > .text {
    width: 60%;
    padding: 20px;
}

.Projects > .card-body > .frow > .image {
    width: 40%;
    padding: 20px;
}

@media only screen and (max-width: 800px) {
    .Projects > .card-body > .frow {
        flex-direction: column-reverse;
    }

    .Projects > .card-body > .frow > .text {
        width: 100%;
        padding-top: 0;
    }

    .Projects > .card-body > .frow > .image {
        width: 100%;
        padding-bottom: 0;
    }
}