.Nav ul {
    display: flex;
}

.Nav ul li {
    list-style-type: none;
    margin: 0 0.5vw;
}

.Nav ul li a {
    transition: all 0.3s ease 0s;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--color-light);
    border-radius: 30px;
}

.Nav ul li a:hover {
    background-color: var(--color-highlight-3);
    color: var(--color-white);
}