.ThreeCard > .content {
    margin: 50px auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.ThreeCard > .content > .card {
    width: 300px;
}

.ThreeCard > .content > .card > .image {
    width: 150px;
    margin: auto;
}

@media only screen and (max-width: 500px) {
    .ThreeCard > .content {
        width: 100%;
    }

    .ThreeCard > .content > .card {
        width: 80%;
    }
}