.Edit-skill {
    width: 100%;
}

.Edit-skill > .form > .stars {
    justify-content: space-between;
    align-items: center;
}

.Edit-skill > .form > .stars > .rate {
    align-items: center;
}

.Edit-skill > .form  > .stars > .rate > .checkbox {
    margin: 10px;
}