.View-project > .frow {
    justify-content: space-between;
}

.View-project > .frow > .content > .description {
    white-space: pre-wrap;
}

.View-project > .frow > .update-delete > .delete-icon:hover > svg > g > g,
.View-project > .frow > .update-delete > .delete-icon:focus > svg > g > g {
    fill: #c13526;
}

.View-project > .frow > .update-delete > .edit-icon:hover > svg > g > g,
.View-project > .frow > .update-delete > .edit-icon:focus > svg > g > g {
    fill: #007e58;
}