.Logo {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: var(--color-dark);
    text-align: center;
}

.Logo:hover,
.Logo:focus {
    color: var(--color-highlight-3);
}

/* for dark background */
.logo-light {
    color: var(--color-superlight);
}

.logo-hover-light:hover {
    color: var(--color-light);
}