:root {
  --color-dark: rgb(40, 40, 40); /* #282828 */
  --color-lightgrey: rgb(200, 200, 200);
  --color-light: rgb(220, 220, 220); /* #dcdcdc */
  --color-ultralight: rgb(240, 240, 240); /* #f0f0f0 */
  --color-superlight: rgb(250, 250, 250); /* #fafafa */
  --color-highlight-1: rgb(193,53,38); /* c13526 */
  --color-highlight-2: rgb(0, 57, 111); /* #00396F */
  --color-highlight-3: rgb(0, 126, 88); /* #007E58 */
  --color-highlight-4: rgb(85, 109, 137); /* #556d89 */
  --color-white: rgb(255, 255, 255); /* #ffffff */
}

.icon {
  height: 20px;
}

.date-picker {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.checkbox {
  height: 15px;
  width: 15px;
}

/* card */
.card {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-header {
  padding: 10px 20px;
  background-color: var(--color-highlight-4);
  color: var(--color-light);
}

.card-body {
  display: flex;
  flex-direction: column;
}

/* logo font */
.logo-font {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-style: italic;
}

/* Button */
.button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.button:hover:enabled {
  filter: brightness(80%);
}

.button:focus {
  filter: brightness(90%);
}

.button:active {
  filter: brightness(120%) !important;
}

.button:disabled {
  background-color: var(--color-light);
  color: var(--color-superlight);
}

/* Button Icon */
.button-icon {
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.button-icon:hover:enabled {
  filter: brightness(80%);
}

.button-icon:focus {
  filter: brightness(90%);
}

.button-icon:active {
  filter: brightness(120%) !important;
}

.button-icon:disabled {
  background-color: var(--color-light);
  color: var(--color-superlight);
}

.neu-up {
  box-shadow: 5px 5px 10px var(--color-lightgrey), 
              -5px -5px 10px var(--color-white);
}

.neu-dn {
  box-shadow: inset 5px 5px 10px var(--color-lightgrey), 
              inset -5px -5px 10px var(--color-white);
}

.onHover-bright:hover,
.onHover-bright:focus {
  filter: brightness(110%);
}

.onHover-brighter:hover,
.onHover-brighter:focus {
  filter: brightness(120%);
}

/* font colors */
.cd { 
  color: var(--color-dark);
}

.cl {
  color: var(--color-light);
}

.cul {
  color: var(--color-ultralight);
}

.ch1 {
  color: var(--color-highlight-1);
}

.ch2 {
  color: var(--color-highlight-2);
}

.ch3 {
  color: var(--color-highlight-3);
}

.ch4 {
  color: var(--color-highlight-4);
}

/* opacity */
.opacity-half {
  opacity: 0.5;
}

/* Background colors */
.bgcd {
  background-color: var(--color-dark);
  color: var(--color-ultralight);
}

.bgcl {
  background-color: var(--color-light);
  color: var(--color-dark);
}

.bgcul {
  background-color: var(--color-ultralight);
  color: var(--color-dark);
}

.bgch1 {
  background-color: var(--color-highlight-1);
  color: var(--color-ultralight);
}

.bgch2 {
  background-color: var(--color-highlight-2);
  color: var(--color-ultralight);
}

.bgch3 {
  background-color: var(--color-highlight-3);
  color: var(--color-ultralight);
}

.bgch4 {
  background-color: var(--color-highlight-4);
  color: var(--color-ultralight);
}

/* padding */
.pxs {
  padding: 5px;
}

.ps {
  padding: 10px;
}

.pm {
  padding: 15px;
}

.pl {
  padding: 20px;
}

.pxl {
  padding: 25px;
}

.ptxs {
  padding-top: 5px;
}

.pts {
  padding-top: 10px;
}

.ptm {
  padding-top: 15px;
}

.ptl {
  padding-top: 20px;
}

.ptxl {
  padding-top: 25px;
}

/* margin-top */
.mtxs {
  margin-top: 5px;
}

.mts {
  margin-top: 10px;
}

.mtm {
  margin-top: 15px;
}

.mtl {
  margin-top: 20px;
}

.mtxl {
  margin-top: 25px;
}

/* margin-left */
.mlxs {
  margin-left: 5px;
}

.mls {
  margin-left: 10px;
}

.mlm {
  margin-left: 15px;
}

.mll {
  margin-left: 20px;
}

.mlxl {
  margin-left: 25px;
}

/* margin */
.mxs {
  margin: 5px;
}

.ms {
  margin: 10px;
}

.mm {
  margin: 15px;
}

.ml {
  margin: 20px;
}

.mxl {
  margin: 25px;
}


/* headings */
h1 {
  font-weight: normal;
  font-size: 48px;
}

h2 {
  font-weight: normal;
  font-size: 36px;
}

h3 {
  font-weight: normal;
  font-size: 30px;
}

h4 {
  font-weight: normal;
  font-size: 24px;
}

h5 {
  font-weight: normal;
  font-size: 20px;
}

h6 {
  font-weight: normal;
  font-size: 16px;
}
/* font-size */
.h1 {
  font-weight: normal;
  font-size: 48px;
}

.h2 {
  font-weight: normal;
  font-size: 36px;
}

.h3 {
  font-weight: normal;
  font-size: 30px;
}

.h4 {
  font-weight: normal;
  font-size: 24px;
}

.h5 {
  font-weight: normal;
  font-size: 20px;
}

.h6 {
  font-weight: normal;
  font-size: 16px;
}


/* font weight */
.b {
  font-weight: bold;
}

/* flex */
.frow {
  display: flex;
}

.frow-mid {
  display: flex;
  align-items: center;
}

.self-mid {
  align-self: center;
}

.fcol {
  display: flex;
  flex-direction: column;
}

.card-row {
  border-bottom: 1px solid var(--color-light);
}

.card-row:hover {
  background-color: var(--color-superlight);
}


.onHoverHighLight3 {
  transition: all 0.3s ease 0s;
}

.onHoverHighLight3:hover,
.onHoverHighLight3:focus {
  color: var(--color-highlight-3);
}

.onHoverBGHighLight3 {
  transition: all 0.3s ease 0s;
}

.onHoverBGHighLight3:hover {
  background-color: var(--color-highlight-3);
}

.char-space {
  letter-spacing: 1px;
}

.unlink {
  text-decoration: none;
  color: var(--color-dark);
}

.push-right {
  float: right;
}