.Edit-resume {
    padding: 10px 0;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.Edit-resume > .sidebar > .options {
    position: fixed;
    width: 16%;
}

.Edit-resume > .sidebar {
    margin-top: 70px;
    width: 20%;
}

.Edit-resume > .midbody {
    width: 78%;
}

.Edit-resume > .sidebar > .options > a > .selected {
    background-color: var(--color-superlight) !important;
}

.Edit-resume > .sidebar > .options > a > .option {
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    border-bottom: 2px solid var(--color-light);
    border-right: 2px solid var(--color-light);
    border-radius: 5px;
    align-items: center;
    color: var(--color-highlight-4);
}

.Edit-resume > .sidebar > .options > a > .option:hover,
.Edit-resume > .sidebar > .options > a > .option:focus {
    background-color: var(--color-light);
}

.Edit-resume > .sidebar > .options > a > .option > .icon {
    height: 20px;
    margin-right: 15px;
}

.Edit-resume > .sidebar > .options > a > .option > .text {
    height: 20px;
    margin-left: 15px;
}

@media only screen and (max-width: 1100px) {
    .Edit-resume {
        width: 95%;
    }
}