.Edit-resume {
    padding: 10px 0;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.Edit-resume > .sidebar {
    width: 20%;
}

.Edit-resume > .sidebar > .options {
    position: sticky;
    position: -webkit-sticky;
    top: 50px;
}

.Edit-resume > .sidebar > .options > .option {
    width: 100%;
    padding: 10px;
    align-items: center;
    color: var(--color-highlight-4);
}

.Edit-resume > .midbody {
    width: 78%;
}


@media only screen and (max-width: 1100px) {
    .Edit-resume {
        width: 95%;
    }

    .Edit-resume > .sidebar {
        display: none;
    }

    .Edit-resume > .midbody {
        width: 100%;
    }
}