.Navbar {
    display: flex;
    justify-content: center;
}

.Navbar > .non-sticky {
    height: 60px;
}

.Navbar > .sticky {
    margin-top: 10px;
    width: 98%;
    height: 60px;
    position: fixed;
    z-index: 1;
    background-color: var(--color-light);
}

.Navbar > .sticky > .content {
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.Navbar > .sticky > .content > .logo {
    display: flex;
    align-items: center;
}

.Navbar > .sticky > .content > .nav {
    display: flex;
    flex-wrap: wrap;
}

.Navbar > .sticky > .content > .nav > .nav-element {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-highlight-2);
    background-color: var(--color-light);
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .Navbar .sticky .content .nav {
        display: none;
    }
    
    .Navbar .sticky .content .nav a {
        flex: 1 1 100%;
    }
}