.Navbar {
    display: flex;
    justify-content: center;
}

.Navbar > .non-sticky {
    height: 50px;
}

.Navbar > .sticky {
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 1;
    background-color: var(--color-light);
}

.Navbar > .sticky > .content {
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.Navbar > .sticky > .content > .logo {
    display: flex;
    align-items: center;
}

.Navbar > .sticky > .content > .nav {
    display: flex;
}

.Navbar > .sticky > .content > .nav > .nav-element {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-highlight-2);
    background-color: var(--color-light);
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .Navbar > .sticky > .content > .nav > .home {
        display: none;
    }
}